.git
.gitignore
.env

__pycache__
**/__pycache__
*.py[cod]
*$py.class

.venv
venv
env
.pytest_cache
.mypy_cache
.ruff_cache

data
models/*
!models/.gitkeep
*.db
*.db-journal
*.db-shm
*.db-wal
*.onnx
*.part

.DS_Store
Thumbs.db
README.md
