__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env

.pytest_cache/
.mypy_cache/
.ruff_cache/

/data/
*.db
*.db-journal
*.db-shm
*.db-wal

/models/*
!/models/.gitkeep
*.onnx
*.part

.DS_Store
Thumbs.db
